<div id="particles-js" >




    <nav class="navbar navbar-expand-lg navbar-light bg-faded py-lg-4">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item active px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="/about">About</a>
                </li>
                <li class="nav-item px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="/portfolio">Portfolio</a>
                </li>
                <li class="nav-item px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>

        

        <div class="panel" style="display: inline-block;">
                
                
                <!-- <img class="ProfilePic" width="120" height="120" src="/img/ProfilePic.jpg" alt="My Profile Picture"> -->   

                <p>
                    My name is Nathan Maloney and the purpose of this website is to exhibit my skills and knowledge of Web Development.  I was born in the Midwest and graduated from Luther College with a Bachelors in Mathematics and a Minor in Computer Science.  I started my Minor late in my college career but I absolutely loved it.  Had I known how much I enjoyed it earlier it would have been my major.  Due to my late discovery however I only had time to do one summer internship with a Web Development company.  Without additional work experience nor a portfolio of previous work I have yet to get a job in the career field I want to have my career in.  I am currently enrolled in a Web Development boot camp with the goal of adding to my resume a concrete verification that I am a qualified potential employee.  It is my mission to attain a position with a company that I can grow with somewhere in the Midwest were my wife and I can raise our family.  
                </p>
                
                
            </div>
    
        
    

            



</div>