




    


    <!-- Navigation -->
    



<!-- Intro Header -->
    <header class="masthead">
        <div id="particles-js" >

                            <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
                                <a class="navbar-brand" href="#page-top">Nathan Maloney</a>
                                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                                    Menu <i class="fa fa-bars"></i>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarResponsive">
                                    <ul class="navbar-nav ml-auto">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#about">About</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#download">Portfolio</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#contact">Contact</a>
                                        </li>
                                    </ul>
                                </div>

                            </nav>
                    
                                <p class="intro-text">

                                Powerful, responsive, and clean. <br>
                                No nonsense web design for personal <br>
                                or business web sites. <br>

                                </p>
                                <a href="#about" class="btn btn-circle page-scroll">
                                    <i class="fa fa-angle-double-down animated"></i>
                                </a>
        </div>
    </header>

    <!-- <header class="masthead">
        <div id="particles-js" >
                                <p class="intro-text">Powerful, responsive, and clean.</p>
                                
                                <a href="#about" class="btn btn-circle page-scroll">
                                    <i class="fa fa-angle-double-down animated"></i>
                                </a>
                        
            
        </div>
    </header> -->



    





    <!-- About Section -->
    <section id="about" class="content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 ">
                    <h2>About Me</h2>
                    <p>My name is Nathan Maloney and I am a web developer. I was born in the Midwest and graduated from Luther College, Iowa with a Bachelor’s Degree in Mathematics and Minor in Computer Science.  To expand my knowledge and potential in this extraordinary field I enrolled myself at the University of Arizona Coding Boot Camp.  After many months of hard work and perseverance I am confident as a full stack web developer.  I am currently looking to start my career around the Minneapolis/St. Paul area. Check out <a target="_blank" href="https://github.com/nathan25maloney">my Github page</a>, <a target="_blank" href="https://www.linkedin.com/in/nathan-maloney">and my LinkedIn page</a></p>
                    
                </div>
                <div class="col-lg-3">
                    <img id="ProfilePic" src="img/ProfilePic.jpg" alt="Profile Picture">
                </div>
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="download-section content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>My Recent Projects</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                <h3 class="portfolio">Buddy-Battle</h3>
                    <a href="https://buddy-battle.herokuapp.com/signup" target="_blank">
                        
                        <img src="img/Buddy-Battle.png" alt="Buddy-Battle!" width="350" height="180" border="0">
                    </a>
                </div>
                <div class="col-lg-6">
                <h3 class="portfolio">View and Chew</h3>
                    <a href="https://nathan25maloney.github.io/View-and-Chew/" target="_blank">
                       
                        <img src="img/View-And-Chew.png" alt="View and Chew!" width="350" height="180" border="0">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                <h3 class="portfolio">Friend-Finder</h3>
                    <a href="https://friend-finder-project25.herokuapp.com/" target="_blank">
                        
                        <img src="img/Friend-Finder.png" alt="Friend-Finder!" width="350" height="180" border="0">
                    </a>
                </div>
                <div class="col-lg-6">
                <h3 class="portfolio">News Scraping</h3>
                    <a href="https://all-that-news.herokuapp.com/" target="_blank">
                        
                        <img src="img/Mongo-Scraping.png" alt="News Scraping!" width="350" height="180" border="0">
                    </a>
                </div>
            </div>
            
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>Contact Me</h2>
                    <p>Feel Free to contact me!</p>
                    <ul class="list-inline banner-social-buttons">
                        <li class="list-inline-item">
                            <a href="https://www.linkedin.com/in/nathan-maloney/" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">LinkedIn</span></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://github.com/nathan25maloney" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://stackoverflow.com/users/7806363/nathan-j-maloney" class="btn btn-default btn-lg"><i class="fa fa-stack-overflow fa-fw"></i> <span class="network-name">Stack Overflow</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Map Section -->
    <div id="map"></div>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Nathan Maloney 2017</p>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAOKKGxcscBzgXjAgzDtamJxpGqERnmAk&sensor=false"></script>

    <!-- Custom scripts for this template -->
    <script src="js/grayscale.min.js"></script>
