<div id="particles-js" >




    <nav class="navbar navbar-expand-lg navbar-light bg-faded py-lg-4">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item active px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="about.html">About</a>
                </li>
                <li class="nav-item px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="blog.html">Blog</a>
                </li>
                <li class="nav-item px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="contact.html">Contact</a>
                </li>
            </ul>
        </div>
    </nav>


    
        
    

            <div class="panel" style="display: block;">
                <h1>particles.js</h1>
              <span class="r-version">v2.0.0</span>
                <h2>A lightweight JavaScript library for creating particles</h2>
                <ul>
                    <li onclick="ga('send', 'event', 'GitHub', 'click');">
                  <a href="https://github.com/VincentGarreau/particles.js/" target="_blank">
                    <span class="label">GitHub</span>
                    <div class="svg-wrap">
                      <svg class="icon-github">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-github"></use>
                      </svg>
                    </div>
                  </a>
                </li>
                    <li onclick="ga('send', 'event', 'Download', 'click');">
                  <a download="" href="https://github.com/VincentGarreau/particles.js/archive/master.zip">
                    <span class="label">Download</span>
                    <div class="svg-wrap">
                      <svg class="icon-download">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-download"></use>
                      </svg>
                    </div>
                  </a>
                </li>
                </ul>
                
            </div>



</div>