a {
	position: relative;
	top: -20px;
	float: right;
	padding: 50px 10px 28px 10px;
	color: #9e969c;

}

a.button {
	float: left;
	padding: 20px 0px 0px 10px;
}

h2 {
	float: left;
	padding: 20px;
	background-color: #4aaaa5;
	color: white;
	width: 264px;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

h3 {
	font-size: 30px;
	color: #4aaaa5;
	background-color: white;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

h3.solid {
	border-style: none none solid none;
	border-width: 3px;
	border-color: #dddddd;
}

h3.solid2 {
	font-size: 20px;
	border-style: none none solid none;
	border-width: 3px;
	border-color: #dddddd;

}

.jumbotron {
	background-color: white;
    padding: 6px 100px 83px 110px;
    border-color: #cccccc;
}

body {
	
	background-color:  #cccccc;
	border: solid none solid none;
	border-width: 4px;
	border-color: #4aaaa5;
	height: 100%;
	margin: 0;
	background-image: url("../images/grey_wash_wall.png");
}

element.style {
    margin: 0px;
    width: 160px;
    height: 168px;
}

.container {
	background-color: white; 
    color: black;
    width: 42%;
    height: 50%;
    float: left;
    padding: 0px 20px 60px 40px;
    margin: 0px 10px 20px 110px;

}

.container2 {
	background-color: white;
    color: black;
    width: 240px;
    height: 150px;
    float: left;
    padding: 8px 27px 0px 19px;
    margin: 0px 106px 20px 106px;

}

.portfolio {
	margin: 15px;
	height: 35%;
	width: 35%;
}



img {
	float: left;
	padding: 0px 8px 8px 0px;
}

p {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.clearfix::before {
    content: "";
    clear: both;
    display: table;
}

.footer {
	padding: 16px;
	margin-top: 0px;
	border-top: solid;
	border-color: #4aaaa5;
	border-width: 6px;
	background-color: darkgrey;
	color: white;
	width: 100%;
	height: 50px;
	text-align: center;
}

.wrapper {
	background-image: url("../images/grey_wash_wall.png");
	background-repeat: repeat;
	height:100%;
	min-height: calc(100vh - 70px);
}

